.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 2 px rgba(0, 0, 0, 0.2); 
  padding: 20px;
  width: 60%;
  max-width: 80%; 
  overflow: auto;
  z-index: 100;
}

.closed {
display: none; /* or add styles to hide the modal when closed */
}
