.table-container {
  margin: 10px;
}

.data-table {
  width: 90%;
  border-collapse: collapse;
  margin: 3em;
  /* margin-top: 10px; */
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 1em;
  text-align: left;
}

.data-table th {
  background-color: #f2f2f2;
}