/* Existing code */
 
.main-content-area{
  display: flex;
  padding: 10px;
  margin: 1px auto;
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(119, 18, 18);
}
 
.App-link {
  background-color: rgb(219, 219, 219);
}
 
body {
  /*background-color: #e86153;*/
  overflow: hidden;
  margin: 0;
}